[v-cloak] {
    display: none;
}

.erp-attendance-status-widget {
    text-align: center;
}

.erp-attendance-status-chart {
    width: 100%;
    height: 200px;
}

.erp-attendance-status-chart table {
    width: auto;
    border-collapse: collapse;
    border: 0;
}

.erp-attendance-status-chart table td {
    padding: 1px 3px;
    line-height: 1.8;
    font-size: 12px;
    border: 0;
}

.erp-flot-pie-label {
    color: #fff;
    font-family: monospace;
    font-size: 11px;
}

.erp-att-status-chart-no-data {
    padding-top: 65px;
    font-style: italic;
}

.erp-attendance-status-widget .filter-selector {
    line-height: 1;
    margin-top: 20px;
}

.erp-att-self-service-widget .self-service-clock {
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 22px;
}

.checkin-button-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

table.erp-att-shift-info {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}